soa/HRM_REST_API/HRM_REST_API/SOA/WSDLs/DeptRestService.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="DeptRestService"
     targetNamespace="http://xmlns.oracle.com/HRM_REST_API/HRM_REST_API/DeptRestService"
     xmlns:tns="http://xmlns.oracle.com/HRM_REST_API/HRM_REST_API/DeptRestService"
     xmlns:inp1="HrmRestAPI_GetDepartmentDetails_response"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="DeptRestService">
        <plnk:role name="DeptRestServiceProvider" portType="tns:DeptRestService_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="HrmRestAPI_GetDepartmentDetails_response" schemaLocation="../Schemas/nxsd_getDepartmentDetailsJSON.xsd"/>
        </xsd:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/HRM_REST_API/HRM_REST_API/DeptRestService"
             elementFormDefault="qualified">
            <element name="getDepartmentDetails_params">
                <complexType>
                    <sequence>
                        <element name="departmentId" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="getDepartmentDetails_inputMessage">
        <wsdl:part name="request" element="tns:getDepartmentDetails_params"/>
    </wsdl:message>
    <wsdl:message name="getDepartmentDetails_outputMessage">
        <wsdl:part name="reply" element="inp1:Department"/>
    </wsdl:message>
    <wsdl:portType name="DeptRestService_ptt">
        <wsdl:operation name="getDepartmentDetails">
            <wsdl:input message="tns:getDepartmentDetails_inputMessage"/>
            <wsdl:output message="tns:getDepartmentDetails_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
