soa/HRM_REST_API/HRM_REST_API/SOA/WSDLs/DeptEmpAPI2.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="DeptEmpAPI2"
     targetNamespace="http://xmlns.oracle.com/HRM_REST_API/HRM_REST_API/DeptEmpAPI2"
     xmlns:tns="http://xmlns.oracle.com/HRM_REST_API/HRM_REST_API/DeptEmpAPI2"
     xmlns:inp1="DeptEmpAPI_getEmployeeDetails_response"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="DeptEmpAPI2">
        <plnk:role name="DeptEmpAPI2Provider" portType="tns:DeptEmpAPI2_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="DeptEmpAPI_getEmployeeDetails_response" schemaLocation="../Schemas/nxsd_empdept_employeeDetails_json.xsd"/>
        </xsd:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/HRM_REST_API/HRM_REST_API/DeptEmpAPI2"
             elementFormDefault="qualified">
            <element name="getEmployeeDetails_params">
                <complexType>
                    <sequence>
                        <element name="employeeId" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="getEmployeeDetails_inputMessage">
        <wsdl:part name="request" element="tns:getEmployeeDetails_params"/>
    </wsdl:message>
    <wsdl:message name="getEmployeeDetails_outputMessage">
        <wsdl:part name="reply" element="inp1:EmployeeRoot"/>
    </wsdl:message>
    <wsdl:portType name="DeptEmpAPI2_ptt">
        <wsdl:operation name="getEmployeeDetails">
            <wsdl:input message="tns:getEmployeeDetails_inputMessage"/>
            <wsdl:output message="tns:getEmployeeDetails_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
