soa/HRM_REST_API/HRM_REST_API/SOA/WSDLs/DeptEmpAPI5.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="DeptEmpAPI5"
     targetNamespace="http://xmlns.oracle.com/HRM_REST_API/HRM_REST_API/DeptEmpAPI5"
     xmlns:tns="http://xmlns.oracle.com/HRM_REST_API/HRM_REST_API/DeptEmpAPI5"
     xmlns:inp1="http://xmlns.oracle.com/HRM_REST_API/HRM_REST_API/DeptEmpAPI5"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="DeptEmpAPI5">
        <plnk:role name="DeptEmpAPI5Provider" portType="tns:DeptEmpAPI5_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/HRM_REST_API/HRM_REST_API/DeptEmpAPI5"
             elementFormDefault="qualified">
            <element name="empty">
                <complexType/>
            </element>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/HRM_REST_API/HRM_REST_API/DeptEmpAPI5"
             elementFormDefault="qualified">
            <element name="DeleteEmployee_params">
                <complexType>
                    <sequence>
                        <element name="employeeId" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="DeleteEmployee_inputMessage">
        <wsdl:part name="request" element="tns:DeleteEmployee_params"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage">
        <wsdl:part name="Empty" element="tns:empty"/>
    </wsdl:message>
    <wsdl:portType name="DeptEmpAPI5_ptt">
        <wsdl:operation name="DeleteEmployee">
            <wsdl:input message="tns:DeleteEmployee_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
