soa/HRM_REST_API/HRM_REST_API/SOA/WSDLs/HRMRestAPI.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="HRMRestAPI" targetNamespace="http://xmlns.oracle.com/HRM_REST_API/HRM_REST_API/HRMRestAPI"
                  xmlns:tns="http://xmlns.oracle.com/HRM_REST_API/HRM_REST_API/HRMRestAPI"
                  xmlns:inp1="http://xmlns.oracle.com/HRM_REST_API/HRM_REST_API/HRMRestAPI"
                  xmlns:inp2="HrmRestAPI_getAllDepartments_response"
                  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:inp3="HrmRestAPI_CreateDepartments_request"
                  xmlns:inp4="HrmRestAPI_Result_response" xmlns:inp5="HrmRestAPI_GetDepartmentDetails_response"
                  xmlns:inp12="EMPRestService_getEmployees_response" xmlns:inp13="EMPRestService_createEmployee_request"
                  xmlns:inp21="RestEMPService_getEmployeeDetails_response">
  <plnk:partnerLinkType name="HRMRestAPI">
    <plnk:role name="HRMRestAPIProvider" portType="tns:HRMRestAPI_ptt"/>
  </plnk:partnerLinkType>
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xmlns.oracle.com/HRM_REST_API/HRM_REST_API/HRMRestAPI"
            elementFormDefault="qualified">
      <element name="empty">
        <complexType/>
      </element>
    </schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="HrmRestAPI_getAllDepartments_response"
                  schemaLocation="../Schemas/nxsd_departments_json.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="HrmRestAPI_CreateDepartments_request"
                  schemaLocation="../Schemas/nxsd_createDepartmentJSON.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="HrmRestAPI_Result_response" schemaLocation="../Schemas/nxsd_RestResultJSON.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="HrmRestAPI_GetDepartmentDetails_response"
                  schemaLocation="../Schemas/nxsd_getDepartmentDetailsJSON.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="EMPRestService_getEmployees_response" schemaLocation="../Schemas/nxsd_EmployeesJSON.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="EMPRestService_createEmployee_request"
                  schemaLocation="../Schemas/nxsd_createEmployee.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="RestEMPService_getEmployeeDetails_response"
                  schemaLocation="../Schemas/nxsd_EmployeeDetailsJSON.xsd"/>
    </xsd:schema>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xmlns.oracle.com/HRM_REST_API/HRM_REST_API/HRMRestAPI"
            elementFormDefault="qualified">
      <element name="getEmployeeDetails_params">
        <complexType>
          <sequence>
            <element name="employeeId" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xmlns.oracle.com/HRM_REST_API/HRM_REST_API/HRMRestAPI"
            elementFormDefault="qualified">
      <element name="getDepartmentDetails_params">
        <complexType>
          <sequence>
            <element name="departmentId" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="Rest_EmptyMessage">
    <wsdl:part name="Empty" element="tns:empty"/>
  </wsdl:message>
  <wsdl:message name="GetDepartments_outputMessage">
    <wsdl:part name="reply" element="inp2:departments"/>
  </wsdl:message>
  <wsdl:message name="CreateDepartment_inputMessage">
    <wsdl:part name="request" element="inp3:Department"/>
  </wsdl:message>
  <wsdl:message name="CreateDepartment_outputMessage">
    <wsdl:part name="reply" element="inp4:Result"/>
  </wsdl:message>
  <wsdl:message name="getDepartmentDetails_inputMessage">
    <wsdl:part name="request" element="tns:getDepartmentDetails_params"/>
  </wsdl:message>
  <wsdl:message name="getDepartmentDetails_outputMessage">
    <wsdl:part name="reply" element="inp5:Department"/>
  </wsdl:message>
  <wsdl:message name="getEmployees_outputMessage">
    <wsdl:part name="reply" element="inp12:Employees"/>
  </wsdl:message>
  <wsdl:message name="createEmployee_inputMessage">
    <wsdl:part name="request" element="inp13:Employee"/>
  </wsdl:message>
  <wsdl:message name="getEmployeeDetails_inputMessage">
    <wsdl:part name="request" element="tns:getEmployeeDetails_params"/>
  </wsdl:message>
  <wsdl:message name="getEmployeeDetails_outputMessage">
    <wsdl:part name="reply" element="inp21:Employee"/>
  </wsdl:message>
  <wsdl:portType name="HRMRestAPI_ptt">
    <wsdl:operation name="GetDepartments">
      <wsdl:input message="tns:Rest_EmptyMessage"/>
      <wsdl:output message="tns:GetDepartments_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CreateDepartment">
      <wsdl:input message="tns:CreateDepartment_inputMessage"/>
      <wsdl:output message="tns:CreateDepartment_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getDepartmentDetails">
      <wsdl:input message="tns:getDepartmentDetails_inputMessage"/>
      <wsdl:output message="tns:getDepartmentDetails_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getEmployees">
      <wsdl:input message="tns:Rest_EmptyMessage"/>
      <wsdl:output message="tns:getEmployees_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="createEmployee">
      <wsdl:input message="tns:createEmployee_inputMessage"/>
      <wsdl:output message="tns:Rest_EmptyMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getEmployeeDetails">
      <wsdl:input message="tns:getEmployeeDetails_inputMessage"/>
      <wsdl:output message="tns:getEmployeeDetails_outputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
