soa/HRM_REST_API/HRM_REST_API/SOA/Adapters/DeptEmpAPI4.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/HRM_REST_API/HRM_REST_API/DeptEmpAPI4" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="DeptEmpAPI4">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="DeptEmpAPI4_getDepartmentDetails_response" schemaLocation="../Schemas/nxsd_empdept_departmentDetails_json.xsd"/>
        </xsd:schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/HRM_REST_API/HRM_REST_API/DeptEmpAPI4" elementFormDefault="qualified">
            <element name="getDepartmentDetails_params">
                <complexType>
                    <sequence>
                        <element name="departmentId" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
   </grammars>
   <resources>
      <resource path="/departments/{departmentId}">
         <method name="GET" soa:wsdlOperation="getDepartmentDetails">
            <request>
               <param name="departmentId" style="template" soa:expression="$msg.request/tns:departmentId" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:Department" xmlns:cns="DeptEmpAPI4_getDepartmentDetails_response"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
